<a href="https://colab.research.google.com/github/fbxyz/ENSG_L1_cartostat/blob/main/td/Pandas_univ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://upload.wikimedia.org/wikipedia/fr/thumb/9/9e/Logo_ENSG_G%C3%A9omatique_2012.svg/220px-Logo_ENSG_G%C3%A9omatique_2012.svg.png)

# ENSG : statistiques appliquées en cartographie
## Réaliser une analyse univariée à l'aide de Python

*   L'objectif de ce TD est de réaliser une petite analyse univariée à l'aide de Python

*   Cette analyse a pour but de vous faire découvrir un outil simple et gratuit pour l'analyse de données. Elle vise aussi à mieux comprendre vos données : nature, forme des distribution, signification.
  
*   Enfin, cette analyse vous permettra de justifier vos choix de discrétisation de manière objective

Pour cela, vous allez utiliser un notebook virtuel Jupyter Lab. Il permet d'éxécuter du code Python dans des cellules afin d'afficher et de partager des résultats d'analyse. Des blocs de texte Markdown permettent de commenter l'ensemble du notebook 

---

# 1. Importation des packages




On importe dans un premier temps les packages nécessaires à l'analyse

In [2]:
import pandas as pd # Pour gérer les tableaux de données (on partle de Dataframe)

#2. Importation des données

In [6]:
df_ue = pd.read_excel("Cours 6 Exercice - donnees.xlsx", sheet_name="Europe")
df_ue

    Code              Département  ICF_2014  ...  ICF_2017  ICF_2018  ICF_2019
0     01                      Ain      1.98  ...      1.82      1.86      1.80
1     02                    Aisne      2.14  ...      2.02      1.95      1.91
2     03                   Allier      1.93  ...      1.85      1.81      1.85
3     04  Alpes-de-Haute-Provence      1.98  ...      1.85      1.82      1.80
4     05             Hautes-Alpes      1.93  ...      1.69      1.77      1.78
..   ...                      ...       ...  ...       ...       ...       ...
96   971               Guadeloupe      2.19  ...      1.94      2.04      2.25
97   973               Martinique      2.08  ...      1.87      1.91      2.00
98   972                   Guyane      3.44  ...      3.92      3.79      3.74
99   974               La Réunion      2.44  ...      2.44      2.40      2.39
100  NaN                  Mayotte      4.12  ...      4.92      4.66      4.59

[101 rows x 8 columns]